Repository ArdentHQ/arkvault-url-js, pull requests merged in 2022-08, with the labels that each got.

#23 feat: generate message sign url
  .prettierignore
  README.md
  source/contracts.ts
  source/enums.ts
  source/url-builder.test.ts
  source/url-builder.ts
Labels: feature

#24 feat: generate message verify url
  README.md
  source/contracts.ts
  source/enums.ts
  source/url-builder.test.ts
  source/url-builder.ts
Labels: feature

#25 chore: adjust publish workflow
  .github/workflows/publish.yml
Labels: chore

#26 fix: do not use frozen lockfile for dep updates
  .github/workflows/deps.yml
Labels: bugfix
